@import url("https://use.typekit.net/eia7dfc.css");
@import url("https://fonts.googleapis.com/css2?family=Bellota:wght@700&family=Bree+Serif&family=Courier+Prime:wght@400;700&family=Cutive&family=Sanchez&display=swap");

:root {

	/* Main text var */
	--text-color: #fdf8f3;

	/* Image var */
	--image: url("https://img.itch.zone/aW1hZ2UvNjEzNDMwLzMyNjQ2MjgucG5n/original/dz9UKO.png")
		no-repeat center center/cover;


		/* Text shadow 1 (Main text var) */
	--text-shadow: 1px 1px 15px rgba(238, 201, 255, 0.35), 1px 10px 70px rgba(233, 201, 255, 0.35),
		0px 5px 5px rgba(88, 88, 88, 0.35), -5px 5px 20px rgba(88, 88, 88, 0.35), 5px 5px 20px rgba(88, 88, 88, 0.35);

		/* Text shadow 2 (button) */
		--text-shadow2: 1px 1px 15px rgba(238, 201, 255, 0.35), 1px 10px 70px rgb(0, 0, 0),
		0px 5px 5px rgba(88, 88, 88, 0.35), -5px 5px 20px rgba(88, 88, 88, 0.35), 5px 5px 20px rgba(88, 88, 88, 0.35);
	/* Move the pos */
	--translate: translate3d(-50%, -50%, 0);

	/* Font */
	--futura: futura-pt, sans-serif;
}


/* Main body */
body {
	margin: 0;
	padding: 0;
	font-family: var(--futura);
	font-weight: 600;
	font-style: normal;
	display: flex;
	align-items: center;
	height: 100%;
	height: 100vh;
	cursor: pointer;
	overflow: hidden;
	background: var(--image);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Cursor div */
#my-div {
	width: 3em;
	height: 3em;
	background-color: #ffffff36;
	position: absolute; left:20px;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	box-shadow: 0 0 20px rgba(16, 0, 54, 0.2);
	
  }


  /* Button vis - (a href)*/
a.button {
	border: 2px solid rgb(53, 53, 53, 0.5);
	background-color:rgba(0, 0, 0, 0.3);
	padding: 14px 65px;
	font-size: 50px;
	cursor: pointer;
	display: inline-block;
	text-shadow: var(--text-shadow2);
	box-shadow: 0px 0px 90px 25px rgb(233, 201, 255, 0.15);
	transition: 0.2s;
	
  }

  /* On mouse-over */
  .button:hover {background: rgb(0, 0, 0, 0.8);}
  

/* Paragraph vis */
p {
	position: absolute;
	margin: 0;
	padding: 0;
	color: var(--text-color);
	text-transform: uppercase;
	font-size: 12em;
	letter-spacing: 0.005em;
	pointer-events: none;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: var(--translate);
	transform: var(--translate);
	text-shadow: var(--text-shadow);
}